:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.header{
  border: 1px solid #000;
}


.colorBox{
  width: 200px;
  height: 150px;
  border: 3px solid rgb(189, 187, 187);
  border-radius: 20px;
  margin-bottom: 10px;
}

.box{
  text-align: center;
  padding: 25px;
  border: 2px solid black;
}
